#hireme{
	padding:100px 0px 100px 0px;
	background-color: #EEEEEE;
}

.btn-large{
	background-color: #00CC99;
	padding:11px 53px 11px 53px;
	margin-top: 25px;
	color: #fff;
	font-family: 'Hind Madurai', sans-serif;
	font-size: 14px;

}

.btn-large:hover {
  	background-color:#333333;
  	color: #fff;
}


.footer-bottom{
	padding:100px 0px 100px 0px;
}



.footer-share {
 	list-style: none;
 	display: flex;
 	justify-content: center;
 	

}

.footer-share li{
	padding-right: 10px; 	
	font-size:25px;
}

.copyright {
	font-size:12px;
 	text-align: center;
 	color: #808080;
 	text-transform: uppercase;
}
